* {
  margin: 0;
  padding: 0;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}
@font-face {
  font-family: 'lane';
  font-style: normal;
  font-weight: 200;
  src: local('Lane'), local('Lane'), url("../../font/lane.woff") format('woff');
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.font-lane {
  font-family: 'Lane';
}
@font-face {
  font-family: 'trench';
  font-style: normal;
  font-weight: 200;
  src: local('Trench'), local('Trench'), url("../../font/trench.otf") format('opentype');
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.font-trench,
body {
  font-family: 'Trench';
}
body {
  height: 100%;
  background: #efefef;
}
.snapjs-right .snap-drawer-left {
  display: block;
  right: 0;
  left: auto;
}
.snapjs-right .snap-drawer-right {
  display: none;
}
.snapjs-expand-left .drawer-inner,
.snapjs-expand-right .drawer-inner {
  opacity: 0;
}
.snap-content {
  background: #efefef;
  -webkit-box-shadow: 0 0 10px #000;
          box-shadow: 0 0 10px #000;
}
.snap-drawer {
  background: #363636;
  color: #eee;
}
.snap-drawer-nav {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  height: 42px;
  width: 100%;
}
.snap-drawer .main {
  padding: 10px;
}
.snap-drawer .main .user {
  text-align: center;
}
.snap-drawer .main .user .icon {
  display: inline-block;
}
.snap-drawer .main .user .icon img {
  width: 100px;
  border-radius: 50px;
  border: 4px solid #16a085;
  -webkit-box-shadow: 0 0 2px #363636;
          box-shadow: 0 0 2px #363636;
}
.action-bar {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  height: 42px;
  width: 100%;
  background: #eaeaea;
  -webkit-box-shadow: 0 0 3px #bababa;
          box-shadow: 0 0 3px #bababa;
  padding: 10px;
}
.action-bar .title {
  font-size: 25px;
  color: #000;
}
li {
  list-style: none;
}
li.circle {
  padding-left: 10px;
  text-indend: 8px;
  margin-top: 15px;
  color: #fff;
}
li.circle:before {
  content: "◯ ";
  color: #16a085;
}
.content {
  padding: 10px;
}
