.trans-all,
.tabs .tab {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.tabs {
  width: 100%;
  height: 45px;
  background: white-light-shade;
  text-align: center;
}
.tabs svg,
.tabs img {
  height: 30px;
}
.tabs .tab {
  max-width: 80px;
  height: 45px;
  padding-top: 8px;
  display: inline-block;
  border-bottom: 2px solid grey-light;
}
.tabs .tab.active {
  border-bottom: 2px solid #00f;
  fill: #00f;
}
.tabs .tab.active .path {
  stroke: #00f;
}
.tabs .html {
  display: none;
}
