doctype html
html
  head
    title Nav
    link(rel="stylesheet" type="text/css" href="public/css/index.css")
  body
    br
    h1.center Nav drawers
    br

    .wrapper
      .items
        li
          a(href="./public/1/")
          iframe(src="public/1/")

        li
          a(href="./public/2/")
          iframe(src="public/2/")

        li
          a(href="./public/3/")
          iframe(src="public/3/")
