* {
  margin: 0;
  padding: 0;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}
@font-face {
  font-family: 'lane';
  font-style: normal;
  font-weight: 200;
  src: local('Lane'), local('Lane'), url("../font/lane.woff") format('woff');
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.font-lane,
body {
  font-family: 'Lane';
}
body {
  height: 100%;
}
h1 {
  color: #fafafa;
}
.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #262626 url("./images/2.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
          background-size: cover;
  -webkit-filter: blur(10px);
          filter: blur(10px);
  z-index: -2;
}
.shadow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(10,10,10,0.9);
  z-index: -1;
}
button,
input {
  padding: 10px;
  outline: none;
  border: 0;
}
input {
  margin: 10px;
  clear: both;
  width: 90%;
}
button {
  height: 40px;
  color: #fff;
  margin: 10px;
}
.spacer-50 {
  height: 50px;
}
.btn-primary {
  background: #3498db;
}
.btn-secondary {
  background: #34495e;
}
.header {
  height: 50px;
  width: 100%;
  padding: 25px;
}
.profile {
  text-align: center;
}
.profile .img {
  width: 400px;
  height: 400px;
  display: inline-block;
  overflow: hidden;
  -webkit-box-shadow: 0 0 5px #000;
          box-shadow: 0 0 5px #000;
  margin: 25px;
  border-radius: 200px;
}
.profile .img img {
  min-width: 100%;
  margin-left: -50%;
  left: 25%;
  position: relative;
  height: 100%;
}
.profile .info {
  display: inline-block;
  width: 50%;
  margin: 25px;
  padding: 10px;
  border-top: 2px solid rgba(20,20,20,0.9);
  color: #fff;
}
.profile .items {
  display: inline-block;
  width: 80%;
}
.profile .items .item {
  display: inline-block;
  width: 150px;
  height: 100px;
  margin: 10px;
}
.profile .items .item img {
  min-width: 100%;
  margin-left: -50%;
  left: 25%;
  position: relative;
  height: 100%;
}
@media all and (max-width: 600px) {
  .profile {
    text-align: center;
  }
  .profile .img {
    width: 200px;
    height: 200px;
  }
}
