input
  font-family Arial, "Helvetica Neue", Helvetica, sans-serif

textarea
  width 100%
  resize none

textarea, input
  font-family Arial, "Helvetica Neue", Helvetica, sans-serif
  outline none
  border none
  border-bottom 1px solid white-dark-shade
  background none
  padding 10px
  color grey-dark
