li
  list-style none
li.circle
  text-indend 8px
  margin-top 15px
  margin-left 10%
  width 80%
  color white
  height 22px
  border-radius 3px
  &:before
    content "◯ "
    color teal
  &:hover:before
      color white
  &:hover
    background teal
    color white
