
.snapjs-right .snap-drawer-left
  display block
  right 0
  left auto

.snapjs-right .snap-drawer-right
  display none

.snapjs-expand-left .drawer-inner,
.snapjs-expand-right .drawer-inner
  opacity 0

.snap-content
  background #efefef
  box-shadow 0 0 10px #000

.snap-drawer
  background #363636
  color #eee
.snap-drawer-nav
  position relative
  top 0
  left 0
  right 0
  height 42px
  width 100%

.snap-drawer
  .main
    padding 10px
    .user
      text-align center
      .icon
        display inline-block
        img
          width 100px
          border-radius 50px
          border 4px solid teal
          box-shadow 0 0 2px #363636
