doctype html
html
  head
    title Login screens
    link(rel="stylesheet" type="text/css" href="style.css")
  body
    br
    h1.center Blue-bliss
    br


    .wrapper
      .form
        input(type="email" placeholder="email")
        input(type="password" placeholder="password")
        br
        br
        br
        br
        button.btn-primary(type="submit") Login