* {
  margin: 0;
  padding: 0;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@font-face {
  font-family: 'lane';
  font-style: normal;
  font-weight: 200;
  src: local('Lane'), local('Lane'), url("../font/lane.woff") format('woff');
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.font-lane,
body {
  font-family: 'Lane';
}
body {
  background: #2980b9 url("bg.jpg");
}
h1,
h2,
h3 {
  color: #fafafa;
}
.center,
.wrapper {
  text-align: center;
}
button,
input {
  padding: 10px;
  outline: none;
  border: 0;
  width: 90%;
}
input {
  margin: 10px;
  clear: both;
  background: rgba(0,0,0,0.2);
  color: #fff;
}
button {
  color: #fff;
  margin: 10px;
  font-size: 15px;
  border-radius: 2px;
}
.btn-primary {
  background: #27ae60;
}
.btn-negative {
  background: #e74c3c;
}
.form {
  width: 350px;
  display: inline-block;
}
.box {
  width: 300px;
  margin: 25px;
  padding: 25px;
  background: rgba(0,0,0,0.2);
}
::-webkit-input-placeholder {
  color: #cdcdcd;
}
:-moz-placeholder {
  color: #cdcdcd;
}
::-moz-placeholder {
  color: #cdcdcd;
}
:-ms-input-placeholder {
  color: #cdcdcd;
}
