* {
  margin: 0;
  padding: 0;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@font-face {
  font-family: 'lane';
  font-style: normal;
  font-weight: 200;
  src: local('Lane'), local('Lane'), url("../font/lane.woff") format('woff');
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.font-lane,
body {
  font-family: 'Lane';
}
body {
  background: #ecf0f1;
}
h1 {
  font-size: 50px;
  color: #171717;
}
a {
  text-decoration: none;
}
.center,
.items {
  text-align: center;
}
.wrapper {
  width: 100%;
}
.items li {
  display: inline-block;
  list-style: none;
  width: 80%;
  padding: 5%;
  background: #fff;
}
.items li .title {
  margin: 2% 0 2% 0;
  color: #fefefe;
  font-size: 2vw;
}
.items li iframe {
  border: none;
  width: 400px;
  height: 500px;
}
