* {
  margin: 0;
  padding: 0;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}
@font-face {
  font-family: 'lane';
  font-style: normal;
  font-weight: 200;
  src: local('Lane'), local('Lane'), url("../font/lane.woff") format('woff');
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.font-lane,
body {
  font-family: 'Lane';
}
body {
  height: 100%;
}
.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #262626 url("./images/profile.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
          background-size: cover;
  -webkit-filter: blur(10px);
          filter: blur(10px);
  z-index: -2;
}
.shadow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(10,10,10,0.9);
  z-index: -1;
}
button,
input {
  padding: 10px;
  outline: none;
  border: 0;
}
input {
  margin: 10px;
  clear: both;
  width: 90%;
}
button {
  height: 40px;
  color: #fff;
  margin: 10px;
}
.spacer-50 {
  height: 50px;
}
.btn-primary {
  background: #3498db;
}
.btn-secondary {
  background: #34495e;
}
.header {
  height: 75px;
  width: 100%;
  padding: 18px;
  color: #fafafa;
}
.profile {
  text-align: center;
}
.profile h1 {
  color: #fafafa;
}
.profile h2,
.profile h3 {
  color: #bababa;
}
.profile img {
  width: 400px;
  position: relative;
  height: 100%;
}
.profile .info {
  display: inline-block;
  width: 50%;
  margin: 25px;
  padding: 10px;
  border-top: 2px solid rgba(20,20,20,0.9);
  color: #fff;
}
@media all and (max-width: 660px) {
  .header {
    background: rgba(100,100,100,0.3);
  }
  .profile {
    text-align: center;
  }
  .profile img {
    width: 60%;
  }
  .profile .info {
    width: 80%;
    background: rgba(100,100,100,0.3);
  }
}
