@font-face {
  font-family: 'lane';
  font-style: normal;
  font-weight: 200;
  src: local('Lane'), local('Lane'), url("../../font/lane.woff") format('woff');
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.font-lane {
  font-family: 'Lane';
}
@font-face {
  font-family: 'neue';
  font-style: normal;
  font-weight: 200;
  src: local('Neue'), local('Neue'), url("../../font/neue.woff") format('woff');
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.font-neue {
  font-family: 'Neue';
}
@font-face {
  font-family: 'trench';
  font-style: normal;
  font-weight: 200;
  src: local('Trench'), local('Trench'), url("../../font/trench.otf") format('opentype');
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.font-trench,
.action-bar {
  font-family: 'Trench';
}
.action-bar {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  height: 42px;
  width: 100%;
  background: #eaeaea;
  -webkit-box-shadow: 0 0 3px #bababa;
          box-shadow: 0 0 3px #bababa;
  padding: 8px;
}
.action-bar .title {
  font-size: 30px;
  color: #000;
}
