.button {
  border: none;
  padding: 10px;
  background: #dedede;
  color: #000;
  -webkit-box-shadow: 0 1px 2px #888;
          box-shadow: 0 1px 2px #888;
  margin: 5px;
  outline: none;
}
.button:hover {
  background: #c5c5c5;
}
.button.action {
  z-index: 5;
  width: 50px;
  height: 50px;
  color: #fff;
  font-weight: bold;
  text-align: center;
  border-radius: 25px;
  padding-top: 15px;
  background: #e74c3c;
}
.button.action:hover {
  background: #d62c1a;
}
.button.action svg,
.button.action img {
  height: 28px;
  margin-top: -3px;
  fill: #fff;
}
.button.green {
  background: #27ae60;
  color: #fff;
}
.button.green:hover {
  background: #1e8449;
}
.button.red {
  background: #e74c3c;
  color: #fff;
}
.button.red:hover {
  background: #d62c1a;
}
.button.blue {
  background: #3498db;
  color: #fff;
}
.button.blue:hover {
  background: #217dbb;
}
.button-reset,
.action-menu .button,
.footer-menu .button {
  display: inline-block;
  padding: 7px 3px 2px 3px;
  margin: 0;
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.action-menu .button:hover {
  background: rgba(100,100,100,0.2);
}
.footer-menu .button {
  height: 40px;
}
.footer-menu .button:hover {
  background: rgba(100,100,100,0.2);
}
.footer-menu .button svg {
  height: 28px;
}
.footer-menu .button .svg-sync .arrows {
  fill: #16a085;
}
.footer-menu .button .svg-sync .path {
  fill: #000;
}
