.snapjs-right .snap-drawer-left {
  display: block;
  right: 0;
  left: auto;
}
.snapjs-right .snap-drawer-right {
  display: none;
}
.snapjs-expand-left .drawer-inner,
.snapjs-expand-right .drawer-inner {
  opacity: 0;
}
.snap-content {
  background: white-shade;
  -webkit-box-shadow: 0 0 10px #000;
          box-shadow: 0 0 10px #000;
}
.snap-drawer {
  background: grey-dark;
}
.snap-drawer-nav {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  height: 42px;
  width: 100%;
}
.snap-drawer .main .user {
  text-align: center;
}
.snap-drawer .main .user .icon {
  margin-top: 10px;
  display: inline-block;
}
.snap-drawer .main .user .icon img {
  width: 100px;
  border-radius: 50px;
  border: 4px solid #008080;
  -webkit-box-shadow: 0 0 2px grey-dark;
          box-shadow: 0 0 2px grey-dark;
}
.snap-drawer .footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 40px;
}
.snap-drawer .footer .footer-menu {
  text-align: center;
  -webkit-box-shadow: 0 0 1px #808080;
          box-shadow: 0 0 1px #808080;
}
.snap-drawer .footer .footer-menu .button {
  display: inline-block;
  height: 40px;
  padding: 7px 3px 2px 3px;
}
.snap-drawer .footer .footer-menu .button:hover {
  background: rgba(100,100,100,0.2);
}
.snap-drawer .footer .footer-menu .button svg {
  height: 28px;
}
.snap-drawer .footer .footer-menu .button .svg-sync .arrows {
  fill: #008080;
}
.snap-drawer .footer .footer-menu .button .svg-sync .path {
  fill: #000;
}
