@import "../../css/reset"
@import "./includes/font-lane"
@import "./includes/font-trench"

body
  @extend .font-trench
  height 100%
  background #efefef

@import "./includes/colors"
@import "./includes/snap"
@import "./includes/action-bar"
@import "./includes/lists"
@import "./includes/extras"

.content
  padding 10px
