@import "../../css/reset"
@import "./includes/fonts"

body
  @extend .font-neue
  height 100%
  overflow hidden


@import "./includes/colors"
@import "./includes/snap-drawer"
@import "./includes/action-bar"
@import "./includes/action-menu"
@import "./includes/lists"
@import "./includes/buttons"
@import "./includes/svg"
@import "./includes/extras"

.content
  padding 10px
