@font-face
  font-family 'roboto'
  font-style normal
  font-weight 200
  src: local('Roboto'), local('Roboto'), url(../../font/roboto.ttf) format('truetype');
  font-smoothing antialiased
  text-rendering optimizeLegibility
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale


.font-roboto
  font-family 'Roboto'
