@import "./includes/fonts"
@import "./includes/extras"
@import "./includes/trans"

.action-bar
  @extend .font-trench
  position relative
  z-index 5
  top 0
  left 0
  right 0
  height 46px
  width 100%
  background white-dark-shade
  box-shadow 0 0 4px #ababab
  padding 8px
  .snap-button
    @extend .trans-all
    width 30px
    height 32px
    svg, img
      height 32px
    &.active
      margin-left -10px
      width 40px
  .title
    font-size 30px
    color black
    height 34px
    margin-left 24px
  .snap-button, .title
    @extend .align-vertical
    position relative
    display block
    float left
