@import "./includes/fonts"

.action-bar
  @extend .font-trench
  position relative
  z-index 5
  top 0
  left 0
  right 0
  height 42px
  width 100%
  background white-dark-shade
  box-shadow 0 0 3px #bababa
  padding 8px
  .title
    font-size 30px
    color black
  &+ div
    margin-top 42px
