@import "./includes/extras"

.action-menu
  position absolute
  top 0
  right 0
  height 46px
  .button
    @extend .align-vertical
    position relative
  img, svg
    height 28px
  .menu
    position absolute
    top 46px
    right 10px
    width 200px
    background white-shade
    box-shadow 0 1px 2px grey
    li
      overflow hidden
      list-style none
      padding 15px
      height 40px
      border-bottom 1px solid white-dark-shade
      &:hover
        background rgba(100, 100, 100, .2)
