teal = #16a085
red = #e74c3c
green = #27ae60
blue = #3498db

white = #fff
white-light-shade = #fafafa
white-shade = #efefef
white-dark-shade = #eaeaea

grey-light = #dedede
grey-shade = #bababa
grey = #555
grey-dark = #363636



black = #000
