@import "./includes/fonts"

input
  @extend .font-roboto

textarea
  width 100%
  resize none

textarea, input
  @extend .font-roboto
  outline none
  border none
  border-bottom 1px solid white-dark-shade
  background none
  padding 10px
  color grey-dark
