@font-face {
  font-family: 'trench';
  font-style: normal;
  font-weight: 200;
  src: local('Trench'), local('Trench'), url("../../font/trench.otf") format('opentype');
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.font-trench {
  font-family: 'Trench';
}
