doctype html
html
  head
    title Login screens
    link(rel="stylesheet" type="text/css" href="style.css")
  body
    br
    h1.center Simple
    br


    .wrapper
      .form
        input(type="email" placeholder="email")
        input(type="password" placeholder="password")
        br
        br
        button.btn-primary(type="submit") Login
        | Or
        br
        button.btn-secondary(type="submit") Register