doctype html
html
  head
    title nav drawer - 2
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" type="text/css" href="css/vendor/snap.css")
    link(rel="stylesheet" type="text/css" href="css/style.css")
    script(src="js/snap.js")
    script(src="js/jquery.js")
    script(src="js/main.js")
  body
    #main.snap-content
      .action-bar
        .title circle
        .action-menu
          .button
            include ./svg/sync
          .button.menu-button
            include ./svg/menu
          .menu
            li Settings
            li Choice 2
      #content.content
        h1 drawer two
        h3 with menu

        button.button Button
        .button.action test
        .button.action.green
          include ./svg/sync
        textarea This is some text

    .snap-drawers
      .snap-drawer
        .snap-drawer-left
          .main
            .user
              .icon
                img(src="images/profile.jpg")
            li.circle first
            li.circle second
            .line
          .footer
            .footer-menu
              .button
                include ./svg/sync




    script.
      var snapper = new Snap({
        element: document.getElementById('main'),
        disable: 'right',
        hyperextensible: false
      });
