doctype html
html
  head
    title nav drawer - 2
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" type="text/css" href="css/vendor/snap.css")
    link(rel="stylesheet" type="text/css" href="css/style.css")
    script(src="js/snap.js")
    script(src="//code.jquery.com/jquery-2.1.1.min.js")
    script(src="js/main.js")
  body
    #content.snap-content
      .action-bar
        .title circle
        .action-menu
          .button
            img(src="./images/menu.svg")
          .menu
            li Settings
            li Choice 2
      .content
        h1 drawer two
        h3 basic

    .snap-drawers
      .snap-drawer
        .snap-drawer-left
          .main
            .user
              .icon
                img(src="./images/profile.jpg")
            li.circle first
            li.circle second
            .line


    script.
      var snapper = new Snap({
        element: document.getElementById('content'),
        disable: 'right',
        hyperextensible: false
      });
