doctype html
html
  head
    title Profile Page - 2
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" type="text/css" href="style.css")
  body
    .header
      h1 dusk two
    .background
    .shadow
    .spacer-50
    .profile
      .img
        img(src="./images/2.jpg")
      h1 Kirra Ember
      .info
        | I'm a Photographer
      .items
        .item
          img(src="./images/2.jpg")
        .item
          img(src="./images/2.jpg")
        .item
          img(src="./images/2.jpg")
