@import "../css/reset.styl"
@import "../css/font-lane.styl"

body
  @extend .font-lane
  background #cdcdcd

h1 
  color #fafafa

.center
  text-align center

button, input
  padding 10px
  outline none
  border 0
  width 90%

input
  margin 10px
  clear both
  background #fff
  color #fff

button
  color #fff
  margin 10px
  font-size 20px

.btn-primary
  background #2ecc71

.btn-secondary
  background #1abc9c

.wrapper
  @extend .center

.form
  width 250px
  display inline-block



::-webkit-input-placeholder
  color #cdcdcd

:-moz-placeholder
  color #cdcdcd

::-moz-placeholder
  color #cdcdcd

:-ms-input-placeholder
  color #cdcdcd
