svg#Layer_1(version='1.0', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 24 24', enable-background='new 0 0 24 24', xml:space='preserve')
  g(class='svg-next')
    polyline(class='path' fill='none', stroke='#000000', stroke-width='2', stroke-miterlimit='10', points='8.5,3 17.5,12 8.5,21 ')
