svg#Layer_1(version='1.0', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 24 24', enable-background='new 0 0 24 24', xml:space='preserve')
  g(class='svg-user')
    circle(class='circle' cx='12', cy='8', r='4')
    path(class='path' d='M12,14c-6.1,0-8,4-8,4v2h16v-2C20,18,18.1,14,12,14z')
