@import "../css/reset.styl"
@import "../css/font-lane.styl"

body
  @extend .font-lane
  height 100%

h1
  color #fafafa

.background
  position fixed
  top 0
  left 0
  width 100%
  height 100%
  background #262626 url('./images/3.jpg') no-repeat center center fixed
  background-size cover
  filter: blur(10px);
  z-index -2
.shadow
  position fixed
  top 0
  left 0
  width 100%
  height 100%
  background rgba(10, 10, 10, .9)
  z-index -1


button, input
  padding 10px
  outline none
  border 0

input
  margin 10px
  clear both
  width 90%

button
  height 40px
  color #fff
  margin 10px



.spacer-50
  height 50px

.btn-primary
  background #3498db

.btn-secondary
  background #34495e

.header
  height 50px
  width 100%
  padding 25px
.profile
  text-align center
  .img
    width 400px
    height 400px
    max-width 80%
    max-height 80%
    display inline-block
    overflow hidden
    box-shadow 0 0 5px #000
    margin 25px
    img
      min-width 100%
      margin-left -50%
      left 25%
      position relative
      height 100%
  .info
    display inline-block
    width 50%
    margin 25px
    padding 10px
    border-top 2px solid rgba(20, 20, 20, .9)
    color #fff

  .items
    display inline-block
    width 80%
    .item
      display inline-block
      width 150px
      height 100px
      margin 10px
      img
        min-width 100%
        margin-left -50%
        left 25%
        position relative
        height 100%
