doctype html
html
  head
    title nav drawer - 1
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" type="text/css" href="css/vendor/snap.css")
    link(rel="stylesheet" type="text/css" href="css/style.css")
    script(src="js/snap.js")
  body
    #content.snap-content
      .action-bar
        .title Nav Drawer
      h1 drawer one
      h3 basic

    .snap-drawers
      .snap-drawer
        .snap-drawer-left
          .snap-drawer-nav
            h3 Left
          p Element



    script.
      var snapper = new Snap({
        element: document.getElementById('content'),
        disable: 'right',
        hyperextensible: false
      });
