doctype html
html
  head
    title Profile Page - 1
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" type="text/css" href="style.css")
  body
    .header
      h1 dusk one
    .background
    .shadow
    .spacer-50
    .profile
      .img
        img(src="./images/1.jpg")
      h1 John Doe
      .info
        | Web developer.