@font-face {
  font-family: 'neue';
  font-style: normal;
  font-weight: 200;
  src: local('Neue'), local('Neue'), url("../../font/neue.woff") format('woff');
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.font-neue {
  font-family: 'Neue';
}
