.snapjs-right .snap-drawer-left {
  display: block;
  right: 0;
  left: auto;
}
.snapjs-right .snap-drawer-right {
  display: none;
}
.snapjs-expand-left .drawer-inner,
.snapjs-expand-right .drawer-inner {
  opacity: 0;
}
.snap-content {
  background: #efefef;
}
.snap-drawer {
  background: #363636;
  color: #eee;
}
.snap-drawer-nav {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  width: 100%;
  -webkit-box-shadow: 0 0 3px #262626;
          box-shadow: 0 0 3px #262626;
  padding: 10px;
}
